.main{
    width: 100%;
    .slider{
        width: 100%;
        direction: ltr;
        margin-bottom: 20px;
        position: relative;
        .items{
            img{
                width: 100%;
            }
        }
        .owl-theme .owl-dots .owl-dot span{
            height: 6px !important;
            width: 50px;
        }
        .owl-theme .owl-dots, .owl-theme .owl-nav {
            text-align: center;
            -webkit-tap-highlight-color: transparent;
        }
        .owl-theme .owl-dots .owl-dot.active span {
            background: $hover-color;
        }
        .owl-theme .owl-dots .owl-dot:hover span {
            background-color: black;
        }
        .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
            position: absolute;
            font-size: 100px;
            bottom: 40%;
            padding: 20px !important;
            background: #fff;
            transition: .7s;
            color: #444;
            border-radius: 50%;
            &:hover{
                opacity: .9;
                color: #fff;
                background-color: $hover-color;
            }
        }
        .owl-carousel .owl-nav button.owl-next{
            right: 3%;
        }
        .owl-carousel .owl-nav button.owl-prev{
            left: 3%;
        }
    }
    .why-us{
        width: 100%;
        margin: 20px 0;
        .head{
            width: 100%;
            h2{
                font-size: 25px;
                padding-bottom: 10px;
                border-bottom: 1px solid $hover-color;
            }
            i{
                font-size: 30px;
            }
        }
        .why{
            padding: 10px;
            width: 100%;
            .trust{
                cursor: pointer;
                transition: .7s;
                &:hover{
                    padding: 30px 25px;
                    background-color: $hover-color;
                    h3{
                        color: white;
                    }
                    p{
                        color: #f1f1f1;
                        &::after{
                            width: 100%;
                            background-color: white;
                        }
                    }
                    i{
                        color: #fff;
                    }
                }
                h3{
                    display: inline-block;
                    transition: .7s;
                    font-size: 23px;
                    margin-bottom: 10px;
                }
                width: calc(50% - 20px);
                margin: 10px;
                padding: 20px;
                p{
                    transition: .7s;
                    &::after{
                        content: "";
                        margin-top: 10px;
                        display: block;
                        background-color:#444;
                        width: 0%;
                        height: 3px;
                        transition: .7s;
                    }
                    font-size: 18px;
                    color: #444;
                }
                background-color: white;
                border-radius: 20px;
                i{
                    transition: .7s;
                    font-size: 30px;
                    margin-left: 10px;
                }
            }
        }
    }
    .projects{
        width: 100%;
        margin: 20px 0;
        .head{
            width: 100%;
            h2{
                font-size: 25px;
                border-bottom: 1px solid $hover-color;
                padding-bottom: 10px;
            }
        }
        .project{
            padding: 20px;
            width: 100%;
            .content{
                width: 100%;
                margin: 20px 0px;
                .image{
                    width: calc(30% - 20px);
                    margin: 0px 10px;
                    line-height: 0;
                    img{
                        transform: scale(0.7);
                        transition: .7s;
                        &:hover{
                            transform: scale(1);
                        }
                        border-radius: 20px;
                        width: 100%;
                    }
                }
                .info{
                    width: 70%;
                    h3{
                        font-size: 20px;
                        color: #333;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 16px;
                        color: #555;
                        text-align: justify;
                        text-indent: 20px;
                    }
                }
            }
        }
    }
}
